/*
	stylelint-disable
		custom-property-pattern,
*/

:root {
	----padding: clamp(8px, 8%, 28px);
	----roundness: 14px;

	background: var(----colour-background-primary);
}

body {
	margin: 0;
}