body{
	margin: 0px;
}

header{
	position: sticky;
	top: 0;
	background-color: #FFF;
	z-index: 999;
	height: 75px;
}

.logobox{
	width: 25%;
	height: 75px;
	float: left;
}	

.logo{
	height: 75px;
	float: right;
}

.navbarbox{
	width: 48%;
	height: 50px;
	float: left;
	padding-top: 25px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 27px;
}

.navbar{
	padding: 24px;
	color: #000;
	font-family: raleway, sans-serif;
}

.navbarselect{
	border-radius: 60px;
	background-color: #000;
	color: #FFF;
}

.profile{
	/* width: 9%; */
	height: 75px;
	float: right;
	right: 0px;
}

.shopping{
	/* padding-top: 30px;    */
	width: 56px;
	display: flex;
  /* padding-left: 30px; */
  float: left;
}

.profilep{
	width: 56px;
	display: flex;
  float: right;
  /* padding-right: 30px; */
  /* padding-top: 30px; */
}

#menu__toggle{
 	opacity: 0;
}

#menu__toggle:checked + .menu__btn > span{
 	transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
 	top: 0;
 	transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after{
  top: 0;
 	transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box{
  left: 0 !important;
}

.menu__btn{
	position: fixed;
	top: 40px;
	left: 30px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: .25s;
}

.menu__btn > span::before{
 	content: '';
  top: -8px;
}

.menu__btn > span::after{
  content: '';
 	top: 8px;
}

.menu__box{   
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  isolation: isolate;
  position: absolute;
  height: auto;
  top: 60px;
  background: #FFF;
  border: 1px solid #000;
  border-radius: 25px 14px 14px 25px;
  left: -100%;
  height: auto;
  margin: 10px;
  margin-top: 25px;
  list-style: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menu__box2{
	list-style: none;
	
}

.lowerbox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	gap: 14px;
	position: relative;
	bottom: 0px;
	width: 260px;
	height: 30px;
	left: 0px;
	top: 14px;
	background: #FFF;
	border: 1px solid #000;
	border-radius: 7px;
	margin: 3px;
}

.cloethingeducationtext{
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 520;
	font-size: 13px;
	line-height: 150%;
	text-align: center;
	color: #000;
	text-decoration: none;
}

.menu__item{
	display: block;
	padding: 6px 12px ;
	padding-top: 12px;
	color: #000;
	font-family: raleway, sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
  transition-duration: .25s;
}

.menu__item2{
	display: block;
	padding: 3px 12px;
	color: #000;
	font-family: raleway, sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-decoration: underline;
	transition-duration: .25s;
}	

.menu__item:hover{
  background-color: #CFD8DC;
}

.text{
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 1070px;
	height: 398px;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 300px;
	line-height: 66.5%;
	text-align: center;
	letter-spacing: -0.11em;
	color: #FFF;
	text-shadow: 0px 25px 25px #FFF, 0px 39px 140px #000, 0px 71px 46px #E8D0B4;
}


.footer {
	display: flex;
	position: relative;
	width: 100%;
	height: 300px;
	left: 0px;
	bottom: 0px;
	background: #EEE;
	border: 1px solid #000;
	text-align: center;
}

.logo2{
	width: 30%;
	float: left;
	position: absolute;
	top: 25%;
}

.fcopy{
	position: absolute;
	width: 170px;
	height: 27px;
	right: 28px;
	font-family: raleway, sans-serif;
	top: calc(50% - 27px/2 + 0.5px);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	align-items: center;
	text-align: right;
	color: #000;
}

.flist{
	display: block;
	list-style-type: none;
	padding-top: 80px;
	padding-left: 47%;
	position: relative;
}

.flist2{
	display: block;
	padding: 5px;
	color: #000;
	font-family: raleway, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	text-align: left;
	align-items: center;
	position: relative;
}




